{{ partial "singleheader.html" . }}
{{ $baseurl := .Site.BaseURL }}




    <div class="row">
        <div class="card-panel">
          <p>

          </p>
          <p>{{ .Content }}</p>
          <p>{{ .Date.Format "2006-01-02" }}
            {{if .Params.tags }}
              {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
              {{ end }}
            {{end}}
          </p>
        </div>
    </div>






<!-- {{ partial "footer.html" . }} -->
