<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Office Hours Hangouts</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#c42126">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#c42126">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
  <style type="text/css">
  {{if .Site.Params.footerCover}}
    footer.page-footer{background-image: url({{.Site.Params.footerCover}});}
  {{else}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/images/default.png);}
  {{end}}
  </style>
</head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center"><a href="{{.Site.BaseURL}}">Office Hours Hangouts</a></h1>
        <div class="row center">
          <h5 class="header col s12 light">Educating and inspiring the cloud computing community.</h5>
        </div>
        <div class="row center">
        {{if .Site.Params.facebook}}
          <a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}/images/facebook-dreamstale25.png"></a>
        {{end}}
        {{if .Site.Params.twitter}}
          <a href="https://twitter.com/rackerhoa"><img src="{{.Site.BaseURL}}/images/twitter-dreamstale71.png"></a>
        {{end}}
        {{if .Site.Params.gplus}}
          <a href="https://google.com/+RackspaceHosting/posts"><img src="{{.Site.BaseURL}}/images/gplus48x48.png"></a>
        {{end}}
        {{if .Site.Params.github}}
          <a href="https://github.com/albush/Office-Hours"><img src="{{.Site.BaseURL}}/images/github2-dreamstale35.png"></a>
        {{end}}
          <a href="http://feeds.feedburner.com/OfficeHoursPodcast"><img src="{{.Site.BaseURL}}/images/feed-dreamstale27.png"></a>
        </div>
        <div class="row center">
          <h5 ><a href="#">A Rackspace Podcast</a></h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="http://drops.albush.com/fuzzy%20banner1.jpg">
    </div>
  </div>
