<body>
  <nav>
    <a href="#!" class="brand-logo">Office Hours Hangouts</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="{{.Site.BaseURL}}about">About</a></li>
    <li><a href="//live.ohpodcast.com">Live Show</a></li>
    <li><a href="{{.Site.BaseURL}}archive">Archive</a></li>
    <li><a href="//feeds.feedburner.com/OfficeHoursPodcast">Subscribe</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="//ohpodcast.com">Blog</a></li>
    <li><a href="//live.ohpodcast.com">Live Show</a></li>
    <li><a href="{{.Site.BaseURL}}archive">Archive</a></li>
    <li><a href="//feeds.feedburner.com/OfficeHoursPodcast">Subscribe</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <!-- <div class="row center">
        <h5 class="header col s12 light">Educating and inspiring the cloud computing community.</h5>
      </div> -->
      <div class="row center">
      {{if .Site.Params.facebook}}
        <a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}images/facebook-dreamstale25.png"></a>
      {{end}}
      {{if .Site.Params.twitter}}
        <a href="https://twitter.com/rackerhoa"><img src="{{.Site.BaseURL}}images/twitter-dreamstale71.png"></a>
      {{end}}
      {{if .Site.Params.gplus}}
        <a href="https://google.com/+RackspaceHosting/posts"><img src="{{.Site.BaseURL}}images/gplus48x48.png"></a>
      {{end}}
      {{if .Site.Params.github}}
        <a href="https://github.com/albush/Office-Hours"><img src="{{.Site.BaseURL}}images/github2-dreamstale35.png"></a>
      {{end}}
        <a href="http://feeds.feedburner.com/OfficeHoursPodcast"><img src="{{.Site.BaseURL}}images/feed-dreamstale27.png"></a>
      </div>
      <!-- <div class="row center">
        <h5 ><a href="//live.ohpodcast.com">Live!</a> | <a href="#">About</a></h5>
      </div> -->
    </div>
  </div>
  <div class="parallax">
    <img src="http://drops.albush.com/fuzzy%20banner1.jpg">
  </div>
</div>
</body>
