<audio controls>
        <source src="{{ $.Page.Params.mp3 }}" type="audio/mp4">
        <source src="{{ $.Page.Params.ogg }}" type="audio/ogg">
        Sorry, your browser does not support the <code>audio</code> element.
</audio><br>
Download: <a href="{{ $.Page.Params.mp3 }}">MP3</a> | <a href="{{ $.Page.Params.ogg }}">OGG</a> <br>
Subscribe: <a href="https://itunes.apple.com/us/podcast/rackspace-office-hours-netcast/id1035176963?mt=2">iTunes</a> | <a href="http://subscribeonandroid.com/feeds.feedburner.com/OfficeHoursPodcast">Android</a> | <a href="http://feeds.feedburner.com/OfficeHoursPodcast">RSS</a>
