{{ partial "singleheader.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div class="row">
</div>
<div class="row">
    <div class="card-panel">
      <div class="row">

      <!-- Crowdcast Embed -->

    <iframe width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0" allowtransparency="true" src="https://www.crowdcast.io/e/rackspacedeepdive4?navlinks=false&embed=true" style="border: 1px solid #EEE;"></iframe>

      <!-- End Crowdcast Embed -->

      </div>
</div>
    </div>

</div>
