{{ partial "singleheader.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div class="container">
<div class="row">
  <div class="col m12 s12">
    <div class="card-panel">
      <div class="row">
        <h3>Ask us Anything</h3>
        <div class="ss-required-asterisk" aria-hidden="true">* Required</div>
        <div class="form">
          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe"
          style="display:none;" onload="if(submitted)
          {window.location='http://ohpodcast.com/thanks/thanks';}"></iframe>
          <form action="https://docs.google.com/forms/d/12PlImrwFfkS-LlHZwYF8EAMRhqk6BlHgbf4f1OFC9O8/formResponse?embedded=true" method="post"
          target="hidden_iframe" onsubmit="submitted=true;">
          <!-- <form action="https://docs.google.com/forms/d/12PlImrwFfkS-LlHZwYF8EAMRhqk6BlHgbf4f1OFC9O8/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit=""> -->
            <ol role="list" class="ss-question-list" style="padding-left: 0">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_1856364040"><div class="ss-q-title">Name
        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <input type="text" name="entry.1856364040" value="" class="ss-q-short" id="entry_1856364040" dir="auto" aria-label="Name  " aria-required="true" required="" title="">
        <div class="error-message" id="279285086_errorMessage"></div>

        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_417596787"><div class="ss-q-title">email
        </div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <input type="email" name="entry.417596787" value="" class="ss-q-short" id="entry_417596787" >

        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_1793236888"><div class="ss-q-title">What's your question?
        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <textarea name="entry.1793236888" rows="8" cols="0" class="materialize-textarea" id="entry_1793236888" dir="auto" aria-label="What's your question?  " aria-required="true" required=""></textarea>
        <div class="error-message" id="5316104_errorMessage"></div>
        </div></div></div>
        <input type="hidden" name="draftResponse" value="[,,&quot;4456639512364043564&quot;]
        ">
        <input type="hidden" name="pageHistory" value="0">

        <input type="hidden" name="fvv" value="0">


        <input type="hidden" name="fbzx" value="4456639512364043564">

        <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
